#screenValue {
    background-color: #000000;
    color: white;
    text-align: right;
    text-align: right;
    vertical-align: middle;
    padding-right: 30px;
}
@media (min-width: 400px) and (min-height: 400px) {
    #screenValue {
      font-size: 35px;
      height: 45px;
    }
  }
  @media (min-width: 500px) and (min-height: 500px) {
    #screenValue {
      font-size: 50px;
      height: 60px;
    }
  }
  @media (min-width: 600px) and (min-height: 600px) {
    #screenValue {
      font-size: 65px;
      height: 75px;
    }
  }
  